<html>
    <head>
        <title>Account Recovery</title>
        <%- include("template/style") %>
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body>
        <form class="form" action="/user/search" method="post">
            <h1 class="header">Account Recovery</h1>
            <div class="input-layout">
                <br>
                <label for="username" style="color: #FF0000;">*required</label><br>
                <input id="username" name="username" placeholder="Username/Email" autocomplete="off"><br>
            </div><br>
            <button class="btn">SEARCH</button><br>
            <div class="footer">
                <a href="/login" class="login-btn btn"><i class="fa-solid fa-right-to-bracket"></i> Login</a>
                <a href="/register" id="register-btn btn" class="register-btn btn"><i class="fa-solid fa-circle-user"></i> Register</a>
            </div>
        </form>
        <%- include('template/alertScript') %>
    </body>
</html>



