<html>
    <head>
        <title>Home</title>
        <%- include("template/style") %>
    </head>
    <body>
        <%- include("layout/navbar") %>
        <%- include('template/alertScript') %>
    </body>
</html>