<html>
    <head>
        <title>Edit profile</title>
        <%- include('template/style') %>
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body>
        <form action="/user/edit/" method="post" class="form" enctype="multipart/form-data">
            <h1 class="header">Edit Profile</h1>
            <a href="/account"><i class="fa-solid fa-user"></i> Back to account page.</a>
            <div class="input-layout">
                <br>
                <input type="file" name="image" id="image" accept="image/*" hidden>
                <input type="file" name="avatar" id="avatar" accept="image/*"><br><br>
                <img src="/asset/cool_boyz.png" alt="" id="preview" width="250px" hidden>
                <label for="displayname">*optional</label><br>
                <input id="displayname" name="displayname" placeholder="New Display Name" autocomplete="off"><br>
                
            </div><br>
            <button class="btn">SUBMIT</button>
        </form>
        <%- include('template/alertScript') %>
    </body>
    <script src="https://unpkg.com/cropperjs"></script>
    <script>
        const orgImg = document.getElementById("image");
        const preview = document.getElementById("preview");
        orgImg.addEventListener("change", () => {
            
            preview.setAttribute("src", orgImg.files[0]);
            preview.setAttribute("hidden", false)
        })
    </script>
</html>