<html>
    <head>
        <title>Change Password</title>
        <%- include('template/style') %>
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body>
        <form action="/user/change/password" method="post" class="form">
            <h1 class="header">Change Password</h1>
            <a href="/account"><i class="fa-solid fa-user"></i> Back to account page.</a>
            <div class="input-layout">
                <br>
                <label for="newPassword" style="color: #FF0000;">*required</label><br>
                <div class="password-input">
                    <input type="password" id="newPassword" name="newPassword" placeholder="New Password" value="<%= password %>">
                    <button type="button" id="newPassword-reveal" onclick="reveal('newPassword-reveal', 'newPassword')"><i class="fa-solid fa-eye"></i></button>
                </div><br>
                <label for="rePassword" style="color: #FF0000;">*required</label><br>
                <div class="password-input">
                    <input type="password" id="rePassword" name="rePassword" placeholder="Re-Password" value="<%= rePassword %>">
                    <button type="button" id="rePassword-reveal" onclick="reveal('rePassword-reveal', 'rePassword')"><i class="fa-solid fa-eye"></i></button>
                </div><br>
                <label for="oldPassword" style="color: #FF0000;">*required</label><br>
                <div class="password-input">
                    <input type="password" id="oldPassword" name="oldPassword" placeholder="Current Password">
                    <button type="button" id="oldPassword-reveal" onclick="reveal('oldPassword-reveal', 'oldPassword')"><i class="fa-solid fa-eye"></i></button>
                </div><br>
                
            </div><br>
            <button class="btn">SUBMIT</button>
        </form>
        <%- include('template/alertScript') %>
    </body>
    <script>
        
        function reveal(button, input) {
            let revealButton = document.getElementById(button);
            const password = document.getElementById(input)
            if (password.getAttribute("type") == "password") {
                password.setAttribute("type", "text")
                revealButton.innerHTML = "<i class=\"fa-solid fa-eye-slash\"></i>"
            } else {
                password.setAttribute("type", "password")
                revealButton.innerHTML = "<i class=\"fa-solid fa-eye\"></i>"
            }
        }
    </script>
</html>