body {
    display: grid;
    grid-template-columns: 30% 70%;
}
.nav-side-bar {
    position: fixed;
    left: 0;
    width: 30%;
    height: 50px;
    background-color: #c3bee8;
    padding-top: 2px;
    display: flex;
    a {
        color: #000000;
        font-size: 21px;
        margin-top: 7px;
        margin-left: 5px;
    }
}
.side-bar {
    height: 100%;
    border-right: 2px rgb(0, 0, 0) solid;
    display: block;
    padding-top: 50px;
    overflow-y: auto;
    .user {
        display: flex;
        color: #000000;
        img {
            width: 45px;
            height: 45px;
            border-radius: 50%;
            margin-left: 7px;
        }
        .username {
            margin-left: 7px;
            font-size: 18px;
        }
    }
}
.chat-header {
    position: fixed;
    right: 0;
    width: 70%;
    height: 50px;
    background-color: #c3bee8;
    padding-top: 2px;
    display: flex;
    img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        margin-left: 7px;
    }
    .username {
        margin-left: 7px;
        font-size: 18px;
    }
}
.chat-side {
    height: 100%;
    display: grid;
    grid-template-rows: 10% 80%;
    margin: 0;
    
    form {
        position: fixed;
        width: 100%;
        margin: 0;
        display: grid;
        grid-template-columns: 90% 10%;
        right: 0;
        bottom: 0;
        width: 70%;
        input {
            width: auto;
            font-size: 18px;
            border: 0px;
            border-radius: 20%;
            padding: 5px 15px;
            padding-right: 40px;
            text-decoration: none;
            color: #000000;
            cursor: text;
            background-color: #e3e1f2;
            text-align: left;
            justify-content: center;
            transition: all 200ms;
            display: inline;
        }
        button {
            font-size: 21px;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: 0px;
            color: #0000ff;
        }
    }
    #chat {
        padding: 5%;
        position: relative;
        overflow-y: auto;
        display: block;
        padding-top: 100px;
        .chat {
            border: #000000 1px solid;
            border-radius: 10%;
            font-size: 18px;
            width: max-content;
            padding: 5px 10px;
            margin: 2%;
            height: 30px;
        }
        .send {
            justify-self: right;
            background-color: #64f6b2;
        }
        .recieve {
            justify-self: left;
            background-color: #b2f7e2;
        }
    }
}