.form {
    background-color: #eef2e1;
    border-radius: 10px;
    width: 70%;
    padding: 2%;
    margin-left:20px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
        background: transparent;
        color: #575757;
        padding-left: 2%;
        padding-right: 2%;
        padding-bottom: 1%;
        padding-top: 1%;
        font-size: 40px;
        border-radius: 2px;
        margin: auto;
        text-align: center;
    }
    .input-layout {
        width: 70%;
        margin: auto;
    }
    label {
        font-size: 15px;
        margin-bottom: 2px;
    }
    input {
        width: 100%;
        height: 50px;
        font-size: 21px;
        background-color: #f8f9f7;
        border: 2px solid #9d9d9d;
        border-radius: 5px;
        padding-left: 20px;
        @media (max-width:690px) {
            max-width: 350px;
        }
    }
    .password-input {
        position: relative;
        input {
            cursor: text;
            justify-content: center;
            transition: all 200ms;
            display: inline;
        }
        button {
            font-size: 21px;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: 0px;
            cursor: pointer;
        }
    }
    input:checked {
        background-color: #1dc468;
    }
    .forget-btn {
        background-color: #22d196;
    }
    .forget-btn:hover {
        background-color: #2e9975;;
    }
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 21px;
        text-align: center;
        width: 70%;
    }
    .btn {
        width: 70%;
        font-size: 21px;
        border: 0px;
        border-radius: 10px;
        padding: 5px;
        text-decoration: none;
        color: #ffffff;
        cursor: pointer;
        text-align: center;
    }
    .login-btn{
        background-color: #2463e9;
    }
    .login-btn:hover{
        background-color: #1843a2;
    }
    .register-btn{
        background-color: #9449b9;
    }
    .register-btn:hover{
        background-color: #773598;
    }
}