.bar {
    position: sticky;
    top: 0;
    background-color: #bed6ff;
    width: 100%;
    height: 60px;
    padding: 10px;
    padding-top: 20px;
    margin-bottom: 50px;
    form {
        position: relative;
        input {
            width: auto;
            font-size: 24px;
            border: 0px;
            border-radius: 10px;
            padding: 5px 15px;
            padding-right: 40px;
            text-decoration: none;
            color: #000000;
            cursor: text;
            background-color: #f2f2f2;
            text-align: center;
            justify-content: center;
            transition: all 200ms;
            display: inline;
        }
        .search-btn {
            font-size: 21px;
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            background: transparent;
            border: 0px;
            cursor: pointer;
        }
    }
    .nav-btn {
        text-decoration: none;
        background: transparent;
        color: #000000;
        transition: all 0.5s;
    }
    .nav-btn:hover {
        text-decoration: underline;
    }
    input::placeholder {
        color: #413f3f;
    }
    .layout {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 24px;
        text-align: center;
    }
    .login-btn {
        background-color: #4747e4;
        padding: 5px 15px;
        border-radius: 10px;
        color: #ffffff;
        font-size: 24px;
        text-align: center;
        transition: all 1s;
    }
    .login-btn:hover {
        background-color: #4771e2;
    }
    
}