.content {
    margin: auto;
    width: 70%;
    display: grid;
    place-items: center;
}
.profile {
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.displayname {
    margin: auto;
}
.info {
    display: flex;
}
p, b {
    font-size: 25px;
}
.logout-btn:visited {
    text-decoration: none;
    color: #ff0000;
}